.hide-default-display{
    display: none;
}

.custom-show-display {
    display: block;
}

.low-index {
    background-color: rgb(13, 178, 13);
}

.moderate-index {
    background-color: yellow;
}

.high-index {
    background-color: orange;
}

.v-high-index {
    background-color: red;
}

.extreme-index {
    background-color: blueviolet;
}